# main executable
krig

# test executable
unit-test

# build files
*.o
*.so
*.a

# project files
krig.depend
krig.layout

# documentation
html/

# demos repo
krig-game-demos/

# library headers
src/AL
src/GL
